# Credenciais do Banco de Dados PostgreSQL
POSTGRES_USER=seu_usuario_aqui
POSTGRES_PASSWORD=sua_senha_segura_aqui
POSTGRES_DB=nome_do_banco_aqui

# URL de conexão usada pelo Prisma/API
DATABASE_URL=postgres://seu_usuario_aqui:sua_senha_segura_aqui@database:5432/nome_do_banco_aqui

# Segredo do Webhook do GitHub (Opcional, usado para validar a origem dos eventos)
GITHUB_WEBHOOK_SECRET=sua_chave_secreta_gerada_no_github
